[submodule "libmav"]
	path = services/slowmode-app/libs/libmav
	url = https://github.com/Auterion/libmav
[submodule "mavlink"]
	path = services/slowmode-app/libs/mavlink
	url = git@github.com:Auterion/mavlink.git
	branch = release/2.7-mavlink
